# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# ignore everything else in build
build/*

# allow specific build/web files
!build/web/
!build/web/index.html
!build/web/favicon.png
!build/web/othello.apk

# ignore extra files
assets/
main.py
