# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# allow specific build/web files (must come before the ignore rule)
!build/web/
!build/web/index.html
!build/web/favicon.png
!build/web/othello.apk

# ignore everything else in build
/build/

# ignore extra files
assets/
main.py
